* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

div{
    //border: 1px solid red;
    background-color: white;
}
main{
    overflow: visible;
}
.container-fluid{
    padding: 0 !important;
}


.anchor{
    display: block;
    height:8%;
    visibility: hidden;
}

.full-height{
    height:90%;
}

.title-text{
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding:10 30 10 30;
}
.sub-title-text{
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.hero-image{
    background: url("../image/IMG_3446.jpg");
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.31);
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.31);

}

.pixel-overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==') repeat;
}

.contact-image{
    width: 100%;
    height: 100%;
    background: url('../image/IMG_3445.jpg') center center no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.31);
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.31);
}

#contact{
    background-color: orange;
}
@media (min-width: 576px) {
    div{
        //border-color: pink;
    }
}
@media (min-width: 768px) {
    div{
        //border-color: orange;
    }
    .nav-text{
        display: block !important;
    }

    .nav-icon{
        display: none !important;
    }
}
@media (min-width: 992px){
    div{
        //border-color: lightgreen;
    }
}
@media (min-width:1200px) {
    div{
        //border-color: lightblue;
    }
    .container{
        max-width: 1100px;
    }
    nav #links{
        //width: 1100px;
    }

}
