* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

div{
    border: 1px solid red;
    background-color: white;
}
main{
    overflow: visible;
}

.row{
    margin: 0 !important;
}
.paragraph-block{
    padding:10 30 10 30 !important;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    background-color: white;
}
.hero-screen-height{
    height:75%;
}
.full-height{
    height:90%;
}

.nav-text{
    display: none !important;
}

.nav-icon{
    display: block !important;
}

.vertical-center-parent{
    position: relative;
}
.vertical-center-child{
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
}
.horizonal-center-child{
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
}
.title-text{
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding:10 30 10 30;
}
.sub-title-text{
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}


@media (min-width: 576px) {
    div{
        border-color: pink;
    }
}
@media (min-width: 768px) {
    div{
        border-color: orange;
    }
    .nav-text{
        display: block !important;
    }

    .nav-icon{
        display: none !important;
    }
}
@media (min-width: 992px){
    div{
        border-color: lightgreen;
    }
}
@media (min-width:1200px) {
    div{
        border-color: lightblue;
    }
    .container{
        max-width: 1100px;
    }
    nav #links{
        //width: 1100px;
    }

}
